
<h1>About Us</h1>
<p>
    <a href="http://omrails.com/">One Month Rails</a>
    is a project to teach 
    <a href="http://rubyonrails.org/">Ruby on Rails</a> 
    in one month. This is the sample application that was made live by <a href="http://www.skillshare.com/profile/Cindy-Nawilis/8626614">Cindy</a>. There are plenty of others that look just like this, she's sure. 
</p>
