<% if user_signed_in? %>
	<h1>You're signed in!</h1>	
<% else %>
<div class="center hero-unit">
    <h1>Welcome to One Month Rails</h1>

    <h2>
      You've found the home page for the
      <a href="http://omrails.com/">One Month Rails</a>
      first application.
    </h2>
<h3> This is the omrails app that <a href="http://www.skillshare.com/profile/Cindy-Nawilis/8626614">Cindy</a> built thanks to the Skillshare course <strong>Teach Yourself How to Code: One Month Rails.</strong> I'm proud!
    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
</div>

<% end %>